.containerLogin {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
}

.inputButtonLogin {
  background-color: rgb(2, 34, 136);
  border: none;
  color: white;
}

.inputButtonLogin:hover {
  background-color: rgb(10, 49, 177);
}

.selectLogin {
  margin-bottom: 10px;
}