.containerQuestions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.buttonQuestions {
  width: 48%;
  height: 50%;
  background-color: rgb(138, 139, 138);
  margin-bottom: 8px;
}