.containerQuestions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.buttonQuestions {
  width: 48%;
  height: 50%;
  margin-bottom: 8px;
}

.green2 {
  background-color: rgb(14, 243, 14);
}

.red2 {
  background-color: rgb(136, 6, 6);
}